<div style="padding:15px">
    <img src="<%= photo %>" alt="Фотография" width="240" height="320" style="border: 1px solid #eee; float:left; margin-right: 15px">
    <div style="float:clear">
        <p><strong><%= fio %></strong></p>
        <p><%= birthday %></p>
        <p><%= country %>, <%= city %></p>
    </div>
</div>